<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harid</title>
</head>
<body style="background-color: aqua;">
    <div class="container">
        <h1 class="display-4 text-center py-1" >Node JS da Birinchi Project</h1>
        <div class="jumbotron p-3 shadow-sm">
            <form id="create-form" action="/create-item" method="POST">
                <div class="d-flex align-items-center">
                    <input 
                    id="create-field"
                    name="item"
                    autofocus
                    autocomplete="off"
                    class="form-controll mr-3"
                    style="flex: 1"
                    type="text"
                    />
                    
                    <button class="btn btn-primary" style="border-radius: 20px">
                        Yangi Harid Qoshish
                    </button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>