<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reja</title>
    <link rel="stylesheet" href="/public/reja.css">
</head>
<body>
    <div class="container">
        <h1>Reja va Maqsadlar</h1>
        <div class="jumbotron p-3 shadow-sm">
            <form id="create-form" action="/create-item" method="POST">
                <div class="d-flex align-items-center">
                    <input name="reja" autofocus autocomplete="off" class="form-controll"  type="text"/>
                    <button class="btn-primary">Reja</button>
                </div>
            </form>
        </div>
        <br>
        <!-- <%= items[2].reja %>  -->
<ul class="list-group">
  <% items.map(function (item) { %>
    <li class="list-group-item">
      <span class="item-text"><%= item.reja %></span>
      <!-- <div> -->
        <button data-id="<%= item._id %>"class="edit-me">Ozgartirish
        </button>
        <button
          data-id="<%= item._id %>"class="delete-me"> Ochirish 
        </button>
      <!-- </div> -->
    </li>
  <% }) %>
</ul>
        <button id="clean-all" class="btn btn-danger" style="border-radius: 20px;" >Hamma Rejalarni ochirish</button>
    </div>
</body>
</html>